:root {
  --gray: #afafaf;
  --response: #63ff44;
  --type: #2dcaf1;
  --key: #e9710f;
  --delete: #ff2222;
  --post: #22e022;
  --get: #c235ec;
  --string: #f1c636;
}

html {
  scroll-behavior: smooth;
  background: #f8f8f8;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #b2b2b2;
}

::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  margin: auto;
  margin-top: 4rem;
  line-height: 0.5rem;
  text-align: center;
}

header > h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

header > p {
  margin-bottom: 2.5rem;
}

.code {
  background: #232229;
  color: whitesmoke;
  padding: 1rem;
  width: auto;
  height: 26rem;
  border: 5px solid #1c1c2b;
}

main > section, footer {
  margin: 0 1.2rem;
}

main > section > h2 {
  margin-bottom: 0.4rem;
  font-size: 1.5rem;
}

code > .body {
  margin: 0.4rem 1rem;
  padding: unset;
}

get {
  color: var(--get);
}

post {
  color: var(--post);
}

delete {
  color: var(--delete);
}

json {
  color: yellow;
}

key {
  color: var(--key);
}

type {
  color: var(--type);
}

semi-colon {
  color: var(--gray);
}

comma {
  color: var(--gray);
}

response {
  color: var(--response);
}

failed {
  color: var(--delete);
}

string {
  color: var(--string);
}

#open {
  grid-area: get;
}

#new {
  grid-area: new;
}

#delete {
  grid-area: delete;
}

.legend {
  color: #727272;
  font-size: 0.8rem;
}

.title {
  font-weight: 500;
}

#howto {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0rem;
}

#how {
  grid-template-areas: 
    "get new delete";
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}

#how > section > h3 {
  margin-bottom: 0.2rem;
}

footer {
  display: flex;
}

footer > a {
  padding-top: 0.6rem;
  margin-left: auto;      
}

a {
  color: #1c1a33;
  text-decoration: none;
}

.grid {
  display: grid;
}

@media (max-width: 1080px) {
  .code {
    height: 27rem;
  }
}

@media (max-width: 896px) {
  #how {
    grid-template-areas: 
      "get new"
      "delete delete";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media (max-width: 608px) {
  header > h1 {
    font-size: 2.8rem;
  }

  header > p {
    font-size: 0.9rem;
  }

  #howto {
    font-size: 1.4rem;
  }

  .legend {
    font-size: 0.7rem;
  }

  #how {
    grid-template-areas: 
      "get"
      "new"
      "delete";
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    /* grid-gap: 1rem; */
  }
}

@media (max-width: 400px) {
  header > h1 {
    font-size: 2.4rem;
  }

  header > p {
    font-size: 0.78rem;
  }

  #howto {
    font-size: 1.2rem;
  }

  .legend {
    font-size: 0.65rem;
  }

  .title {
    font-size: 1.2rem;
  }
}

@media (max-width: 340px) {
  header > h1 {
    font-size: 2.2rem;
  }

  header > p {
    font-size: 0.7rem;
  }

  #howto {
    font-size: 1.2rem;
  }

  .legend {
    font-size: 0.65rem;
  }

  .title {
    font-size: 1.2rem;
  }
}

@media (max-width: 280px) {
  header > h1 {
    font-size: 1.8rem;
  }

  header > p {
    font-size: 0.7rem;
  }

  #howto {
    font-size: 1.2rem;
  }

  .legend {
    font-size: 0.65rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .code {
    height: 33.5rem;
  }
}